li a {
  color: #999;
}

li a:hover {
  text-decoration: none;
  color: white;
}

.navbar-brand {
  color: cyan;
}

body {
  background: #eeeeee;
}

.validation-white {
  color: #eee;
  margin-top: 5px;
  font-size: 11px;
}