
.ant-logo {
  text-align: center;
  cursor: pointer;
  margin-top: 24px;
  margin-left: 5px;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-logo-img {
  width: 40px;
  margin-right: 8px;
}

.ant-logo-span {
  vertical-align: text-bottom;
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 700;
  color: #1DA57A;
}

.dark-bg {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}